<!DOCTYPE html>
<html>
<head>
  <title>Cloud model api hetzner</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "cloud_model/api/hetzner/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
